<appSettings>
  <add key="MailServer" value="dev-smtp.vidly.com"/>
  <add key="FacebookAppId" value="564024500733771"/>
  <add key="FacebookAppSecret" value="26f5cf3cd589e33baf008bef277af7c8"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
